/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 230);
  height: 100vh;
}

.header{
  display: flex;
  justify-content: flex-start;
  margin-left: 4px;
}

.todo{
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
}

.todo-app {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.todo-list{
  margin-bottom: 20px;
}

.input-container {
  border-top: 2px solid rgb(198, 192, 192);
  margin-bottom: 10px;
  padding-top: 10px;
}

input[type='text'] {
  padding: 8px;
  margin-right: 5px;
  background-color: rgb(220, 220, 220);
  font-size: medium;
  border: none;
  border-radius: 6px;

}



ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

/* .completed {
  text-decoration: line-through;
} */
